@{
    ViewBag.Title = "About";
}
<h2>OneHundred pro/g/ramming challenge</h2>
<h3>Preparing for bigger stuff with this one hundred programs challenge.</h3>

<a href="@Url.Content("~/Content/images/Challenge.png")">
    <img src="@Url.Content("~/Content/images/Challenge.png")" class="img-thumbnail" />
</a>
